/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Lato:ital,wght@0,300;0,400;0,700;1,300&display=swap");
/* Animations 

.kenburns-top {
  -webkit-animation: kenburns-top 5s ease-out reverse both;
  animation: kenburns-top 5s ease-out reverse both;
}

@-webkit-keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }

  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}

@keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }

  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: left;
    transform-origin: top;
  }
}

*/

/* global */
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  /* font-family: "Lato", sans-serif; */
  font-family: 'Playfair Display', serif;
  --def: rgb(0, 0, 0);
  --inv: rgb(15, 223, 0);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: "Fredoka One", cursive; */
  font-family: 'Playfair Display', serif;
}

.socials>p>a>img {
  /* background-color: aliceblue; */
  margin: .3rem;
  padding: .1rem;
  text-decoration: none;
  /* border: 2px solid lime; */
}

p {
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  margin-bottom: 10px;
}

section {
  scroll-margin-block-start: 50px;
}

/* Random Qoutes */
blockquote {
  display: inline;
}

.qoutes-card {
  /* border: .001px solid rgb(255, 255, 255); */
  /* height: 20rem; */
  /* margin: 2rem; */
  padding: 2rem;
  text-align: center;
}



#author {
  color: black;
  display: block;
}

.btn1 {
  border-radius: 20px 0 0 20px;
}

.btn2 {
  border-radius: 0px 20px 20px 0px;
}

.btn1,
.btn2,
.nextQuote {
  box-shadow: 0 10px 20px -8px rgba(225, 225, 225, 0.666);
  /* color: silver; */
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  border: 1px solid silver;
  background: none;
  padding: 0.5rem;
  text-decoration: none;
}


.nextQuote:hover {
  /* padding-right: 4px; */
  padding-right: 35px;
  /* width: 20vw; */
  color: silver;
  /* border: none; */
  background-color: #ffffff;
  color: black;
  transition: 0.5s;

}

.btn1:hover {
  border: none;
  padding-right: 24px;
  padding-left: 8px;
  /* transition: 0.5s; */
  color: silver;
}

.btn2:hover {
  border: none;
  padding-right: 24px;
  padding-left: 8px;
  /* transition: 0.5s; */
  color: silver;
}

.nextQuote:after {
  content: '↗️';
  position: absolute;
  opacity: 0;
  color: silver;
  transition: 0.5s;
}

.btn1:after {
  content: ' ⤵ ';
  position: absolute;
  opacity: 0;
  color: silver;
  transition: 0.5s;
}

.btn2:after {
  content: ' ⤴';
  position: absolute;
  opacity: 0;
  color: silver;
  transition: 0.5s;
}


.nextQuote:hover:after {
  opacity: 1;
  /* right: 20px; */
  transition: 0.5s;

}

.btn1:hover:after {
  opacity: 1;
  /* left: 10px; */
  transition: 0.5s;
}

.btn2:hover:after {
  opacity: 1;
  right: 10px;
  transition: 0.5s;
}

/* Download Resume button */
.save-resume {
  text-decoration: none;
  /* background: none; */
  color: black
}

.save {
  position: relative;
  padding: 1.4rem 4.2rem;
  /* padding-right: 3.1rem; */
  font-size: 1.4rem;
  letter-spacing: 1.1rem;
  color: #ffffff;
  text-transform: uppercase;
  transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
  font-weight: bolder;
  /* text-shadow: 3px 3px 3px blue; */
  user-select: none;
}

.save:before,
.save:after {
  content: '';
  position: absolute;
  transition: inherit;
  z-index: -1;
}

.save:hover {
  transition-delay: .5s;
  /* color: #ffffff; */
}

.save:hover:before {
  transition-delay: 0s;
}

.save:hover:after {
  background: var(--inv);
  transition-delay: .35s;
  color: #ffffff;

}

/* From center Animation*/
.from-center:before {
  top: 0;
  left: 50%;
  height: 100%;
  width: 0;
  border: 2px solid var(--inv);
  border-left: 0;
  border-right: 0;
}

.from-center:after {
  bottom: 0;
  left: 0;
  height: 0;
  width: 100%;
  background: black;
}

.from-center:hover:before {
  left: 0;
  width: 100%;
}

.from-center:hover:after {
  top: 0;
  height: 100%;
}

/* navbar */
.navbar {
  /* background-image: url(../img/Dev.jpg); */
  background-color: rgb(255, 255, 255);
  /* background-blend-mode: multiply; */
  /* background-size: cover; */
  /* color: #fafafa; */
  /* background-attachment: fixed; */
}

.navbar-brand h6 {
  margin-bottom: 0;
}

.navbar-brand {
  font-family: "Fredoka One", cursive;
}

.navbar-nav>.nav-item>.nav-link {
  position: relative;
  color: black;
  text-decoration: none;
}

.navbar-nav>.nav-item>.nav-link:hover {
  color: lime;
}

.navbar-nav>.nav-item>.nav-link::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: lime;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.navbar-nav>.nav-item>.nav-link:hover::before {
  transform: scaleX(1);
}

.logo {
  width: 80px;
  margin: 0;
  padding: 0;
  display: inline-block;
  border-radius: 40% 0;
  box-shadow: 0 .1px 12px 0 lime;
}

.Switch {
  text-decoration: underline;
  /* float: inline-end; */
  display: flex;
  justify-content: flex-end;
  /* display: inline; */
}

.bi-moon-stars-fill {
  color: rgb(0, 0, 0);
  /* background-color: rgb(236, 230, 230); */
  box-shadow: 0 .1px 12px 0 lime;
  padding: 5px;
  border-radius: 50%;

}

/* hero-section */
.hero-section {
  /* background-image: url(../img/Dev.jpg); */
  /* background-color: rgba(0, 0, 0, 0.692); */
  /* background-blend-mode: multiply; */
  /* background-size: cover; */
  /* color: #ffffff; */
  /* background-attachment: fixed; */
  /* color: #efefef; */
}

.hero-section>.container {
  background: none;
  box-shadow: 0 1px 2px 0 lime;
  border-radius: 10px;
  /* border: 1px solid rgba(63, 241, 4, 0.18); */
  /* color: #efefef; */
}

.hero-image img {
  /* border: 0.1px solid rgb(255, 255, 255); */
  /* background: rgba(0, 0, 0, 0.316); */
  /* padding: 5rem; */
  margin: 1rem;
  /* width: 80%; */
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.374);
}

.about-me-section {
  /* min-height: 80vh; */
  padding: 80px 0;
  /* background-image: url(../img/Dev.jpg); */
  /* background-color: rgb(0, 0, 0); */
  /* background-blend-mode: multiply; */
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  /* background-attachment: fixed; */
  /* color: black; */
}

.about-me-content>.card {
  background: rgba(14, 13, 13, 0.009);
  box-shadow: 0 1px 2px 0 lime;
  ;
  backdrop-filter: blur(0.5px);
  -webkit-backdrop-filter: blur(0.5px);
  border-radius: 10px;
  /* border: 1px solid rgba(79, 0, 227, 0.902); */
  /* color: #efefef; */
}

/* Read More option-- I have used some SASS Concept for additional CSS */
.moretext {
  display: none;
}

/* Skills section */


.Tools-Techs>p>a>img {
  /* border-radius: 50%; */
  background: #ffffff;
  box-shadow: 5px 5px 10px #c2c2c2,
    -5px -5px 10px #ffffff;
  margin: 1rem;

}

.Tools-Techs>p>a {
  border: .1px solid black;
  /* margin: 1rem; */
  /* padding: 1rem; */
  text-decoration: none;
  /* margin-bottom: 11rem; */
}





/*
projects-section
*/
.projects-section {
  /* background-image: url(../img/ProjectsBackground1.jpg); */
  /* background-color: rgba(0, 0, 0, 0.692); */
  background-blend-mode: multiply;
  background-size: cover;
  /* color: #fafafa; */
  background-attachment: fixed;
}

.projects-heading {
  background-image: url(../img/ProjectsBackground1.jpg);
  /* background-blend-mode: multiply; */
  color: white;
  font-weight: bolder;
  text-shadow: 3px 3px 3px rgba(39, 1, 204, 0.974);
  /* background-size: cover; */
  /* color: #fafafa; */
  background-attachment: fixed;

}

/* .projects-section Cards*/
.projects-section>.container>.projects-content {
  border: none;
  /* border: 2px solid blue; */
}

.card-body {
  /* background: rgba(17, 16, 16, 0.477); */
  background-image: url(../img/ProjectsBackground1.jpg);
  box-shadow: 0 8px 32px 0 rgba(0, 17, 251, 0.37);
  backdrop-filter: blur(0.5px);
  -webkit-backdrop-filter: blur(0.5px);
  /* border-radius: 5px; */
  /* border: 2px solid blue; */
  color: #efefef;
}

.card-body>h5,
.card-text {
  /* color: lime; */
  font-weight: bolder;
  text-shadow: 1px 2px 3px rgba(128, 128, 128, 0.974);
}

.name {
  font-style: oblique;
  /* text-decoration: underline; */
  color: gray;
  /* text-decoration-color: silver; */
  /* font-family: "Fredoka One", cursive; */
  /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
  font-variant: small-caps;

}

/* .Portfolio-txt */
.Portfolio-txt {
  margin: 40px auto;
  /* font-size: 100px; */
  font-weight: bold;
  color: rgba(0, 0, 0, 0.747);
  text-align: center;
  letter-spacing: 5px;
  text-shadow: 2px 7px 5px lime,
    0px -4px 10px white;
}

hr {
  color: black;
}

/* experience-section */

.experience-section {
  /* background-image: url(../img/Dev.jpg); */
  /* background-color: rgba(0, 0, 0, 0.692); */
  /* background-blend-mode: multiply; */
  /* background-size: cover; */
  /* color: #fafafa; */
  /* background-attachment: fixed; */
}

/* .experience-section card */

.container>.content>.card {
  background: rgba(0, 0, 0, 0);
  box-shadow: 0 1px 2px 0 blue;
  backdrop-filter: blur(0.5px);
  -webkit-backdrop-filter: blur(0.5px);
  border-radius: 10px;

  /* color: #efefef; */
}

/* Footer section */
.footer {
  /* background-image: url(../img/Dev-wave.jpg); */
  /* background-color: rgba(0, 0, 0, 0.692); */
  background-blend-mode: multiply;
  background-size: cover;
  /* color: #fafafa; */
  /* background-attachment: fixed; */
}

.Copyright {
  font-family: 'Playfair Display', serif;
  color: black;
}

.dev-is {
  color: lime;
  /* box-shadow: 0 10px 32px 0 rgba(10, 23, 207, 0.543); */
  text-shadow: 1px 1px 7px rgba(255, 255, 255, 0.974);
  /* border: 1px solid blue; */
}

@media screen and (min-width:680) {
  p {
    font-size: smaller;
  }
}